package data

import "github.com/go-enry/go-enry/v2/regex"

var VendorMatchers = []regex.EnryRegexp{
	{{range $re := . -}}
	{{ if isRE2 $re  -}}
		regex.MustCompile({{ $re | stringVal }}),
	{{- else -}}
		regex.MustCompileRuby({{ $re | stringVal }}),
	{{ end }}
	{{end -}}
}

// FastVendorMatcher is equivalent to matching any of the VendorMatchers.
var FastVendorMatcher = regex.MustCompile(`{{ optimize . }}`)